.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background: #217ac4;
  background: -moz-radial-gradient(
    circle,
    rgba(49, 48, 129, 1) 15%,
    rgba(16, 3, 153, 1) 82%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(49, 48, 129, 1) 15%,
    rgba(16, 3, 153, 1) 82%
  );
  background: radial-gradient(
    circle,
    rgba(49, 48, 129, 1) 15%,
    rgba(16, 3, 153, 1) 82%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#313081",endColorstr="#100399",GradientType=1);
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
