.new-expense {
  background: #d3d3d3;
  opacity: 90%;
  padding: 1rem;
  margin: 2rem auto;
  width: 63rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #101013;
  background-color: #d3d3d3;
  color: #05070a;
  border-radius: 12px;
  margin-right: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #c5c5c5;
}

/* .new-expense button.alternative {
  color: #02183a;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #050202;
} */
